.flex {
    display: flex;
}

.flex-right {
    margin-left: auto;
}

.font-title {
    font-size: 16px;
}

.sub-title {
    border-bottom: 1px solid #CCC;
    padding: 10px 0 0 16px;
}
.table-list {
    padding: 10px 0 0 16px;
}