.generator-component{
    width: 100%;
}


.spacer {
    flex: 1 1 auto;
  }

.mat-toolbar {
    border-bottom: 1px solid #CCC;
}

.table-container {
    padding: 24px;
  }
  
  table{
    width: 100%;
  }