<div class="menu-component">
    <div class="menu-component__brand">
        Rp App
    </div>
    <mat-divider></mat-divider>
    <mat-list class="menu-component__list">
        <mat-list-item routerLink="/home" class="menu-component__list__item">
            <mat-icon mat-list-icon>home</mat-icon>
            <div mat-line>Menu</div>
        </mat-list-item>
        <mat-list-item routerLink="/generators" class="menu-component__list__item">
            <mat-icon mat-list-icon>table_chart</mat-icon>
            <div mat-line>Générateurs</div>
        </mat-list-item>
        <mat-list-item routerLink="/tables" class="menu-component__list__item">
            <mat-icon mat-list-icon>table_rows</mat-icon>
            <div mat-line>Tables</div>
        </mat-list-item>
    </mat-list>
    <mat-divider></mat-divider>
</div>