<div class="menu-component">


    <div class="menu-title">
        <img src="../../assets/d20.jpg">
        <h1>Rp App</h1>
    </div>

    <div class="menu-cards">


        <div class="menu-card" routerLink="/generators">
            <mat-icon class="big-icon">table_chart</mat-icon>
            <h3>Générateurs</h3>
            <p> Un générateur permet de rasembler plusieurs tables sous un même élément. </p>

        </div>

        <div class="menu-card" routerLink="/tables">
            <mat-icon class="big-icon">table_rows</mat-icon>
            <h3>Tables</h3>
            <p> Une table est une liste de valeurs associées à un lancer de dé. </p>
        </div>

        <div class="menu-card">
            <mat-icon class="big-icon">audiotrack</mat-icon>
            <h3>Tabletop Audio</h3>
            <p> <a target="blank" href="https://tabletopaudio.com/">Ouvrir</a></p>
        </div>

        <div class="menu-card">
            <mat-icon class="big-icon">person_search</mat-icon>
            <h3>Name generators</h3>
            <p> <a target="blank" href="https://www.fantasynamegenerators.com/">Ouvrir</a></p>
        </div>

        <div class="menu-card">
            <mat-icon class="big-icon">live_help</mat-icon>
            <h3>Aide DD</h3>
            <ul>
                <li><a target="blank" href="https://www.aidedd.org/">Home</a></li>
                <li><a target="blank" href="https://www.aidedd.org/dnd-encounter/index.php">Rencontre</a></li>
                <li><a target="blank" href="https://www.aidedd.org/dnd-builder/index.php">Personnage</a></li>
                <li><a target="blank" href="https://www.aidedd.org/dnd-filters/sorts.php">Liste des sorts</a></li>
                <li><a target="blank" href="https://www.aidedd.org/regles/personnalisation/dons/">Liste des dons</a>
                </li>
                <li><a target="blank" href="https://www.aidedd.org/dnd-5/unearthed-arcana/">Unearthed-arcana</a>
                </li>
            </ul>
        </div>








    </div>


</div>