@import '../color.scss';

.menu-component {
    background-color: $primary-darker;
    border-right: 1px solid $primary;
    color: #FFF;
    height: 100%;
    min-width: 200px;

    .menu-component__brand {
        font-size: 32px;
        padding: 32px 16px;
        text-align: center;
    }

    .menu-component__list {
        padding: 0;
    }

    .menu-component__list__item {
        color: #fff;
    }

    .menu-component__list__item:hover {
        background-color: $primary;
        cursor: pointer;
    }
}