<div class="menu-component">


    <div class="menu-title">
        <img src="../../assets/d20.jpg">
        <h1>Rp App</h1>
    </div>

    <div class="menu-cards">


        <div class="menu-card" routerLink="/generators">
            <mat-icon class="big-icon">table_chart</mat-icon>
            <h3>Générateurs</h3>
            <p> Un générateur permet de rasembler plusieurs tables sous un même élément. </p>

        </div>

        <div class="menu-card" routerLink="/tables">
            <mat-icon class="big-icon">table_rows</mat-icon>
            <h3>Tables</h3>
            <p> Une table est une liste de valeurs associées à un lancer de dé. </p>
        </div>

    </div>


</div>