.menu-component {
    
    .menu-title {
        padding: 50px;
    }

    .menu-title h1{
        padding: 50px;
        color: #3f51b5;
        font-size: 50px;
        text-align: center;
        border-bottom: solid 5px #3f51b5;
    }


    .menu-title img{
        margin: auto;
        width: 900px;
        display: block;
    }

    .big-icon{
        font-size: 50px;
        width: 50px;
        margin-left: 175px;
        color: #3f51b5;
    }
    .menu-cards{
        display: flex;
        justify-content: space-around;
        margin: 50px;
        flex-wrap: wrap;
    }

    .menu-card {
        width: 400px;
        padding: 50px;
        margin: 20px;
        border: solid 1px #CCC;
        background-color: #F1F1F1;
        cursor: pointer;
    }

    h3 {
        text-align: center;
        color: #3f51b5;
        
    }
}



