@import '~@angular/material/prebuilt-themes/indigo-pink.css';

.app {
    font-family: Roboto, Arial, sans-serif;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
.app-container {
    max-width: 1280px;
    margin: auto;
}
  
