@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import 'color';

.app {
    font-family: Roboto, Arial, sans-serif;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    .app__container{
        height: 100%;
       // background-color: $fouth;
    }
    
    .app__content {     
        margin: auto;
    }

}