@import 'color';

.app-page {
padding: 24px;
}

.app-page__header {
display: flex; 
border-bottom: 1px solid #CCC;
margin-bottom: 20px;
}

.app-page__header__action {
margin-left: auto;
}
.app-page__header__action button{
margin-left: 5px;
}




.app-page__list__line {
  display: flex;
  align-items: center;
}

.app-page__list__line__options {
  margin-left: auto;
}




  .sub-header {
    display: flex; 
    border-bottom: 1px solid #CCC;
  }


  .form-group {
    padding: 10px 0 0 150px;

  }
  .form-field {
      padding: 0 0 0 16px;
  }
  .long-input {
      width: 100%;
  }

  .list-item:hover {
    background-color: #CCC;
    cursor: pointer;
  }

  .app-bottom__action {
    display: flex;
    justify-content: flex-end;
    padding-top: 10px;
  }