<div class="home-component">

    <div class="home-component__header">
        <img class="home-component__title__img" src="../../assets/d20.jpg">
        <h1 class="home-component__title">Rp App</h1>
    </div>

    <div class="home-component__cards">

        <div class="home-component__card" routerLink="/generators">
            <mat-icon class="home-component__card__icon">table_chart</mat-icon>
            <h3 class="home-component__card__title">Générateurs</h3>
            <p> Un générateur permet de rasembler plusieurs tables sous un même élément. </p>

        </div>

        <div class="home-component__card" routerLink="/tables">
            <mat-icon class="home-component__card__icon">table_rows</mat-icon>
            <h3 class="home-component__card__title">Tables</h3>
            <p> Une table est une liste de valeurs associées à un lancer de dé. </p>
        </div>

        <div class="home-component__card">
            <mat-icon class="home-component__card__icon">audiotrack</mat-icon>
            <h3 class="home-component__card__title">Tabletop Audio</h3>
            <p> <a target="blank" href="https://tabletopaudio.com/">Ouvrir</a></p>
        </div>

        <div class="home-component__card">
            <mat-icon class="home-component__card__icon">person_search</mat-icon>
            <h3 class="home-component__card__title">Name generators</h3>
            <p> <a target="blank" href="https://www.fantasynamegenerators.com/">Ouvrir</a></p>
        </div>

        <div class="home-component__card">
            <mat-icon class="home-component__card__icon">live_help</mat-icon>
            <h3 class="home-component__card__title">Aide DD</h3>
            <ul>
                <li><a target="blank" href="https://www.aidedd.org/">Home</a></li>
                <li><a target="blank" href="https://www.aidedd.org/dnd-encounter/index.php">Rencontre</a></li>
                <li><a target="blank" href="https://www.aidedd.org/dnd-builder/index.php">Personnage</a></li>
                <li><a target="blank" href="https://www.aidedd.org/dnd-filters/sorts.php">Liste des sorts</a></li>
                <li><a target="blank" href="https://www.aidedd.org/regles/personnalisation/dons/">Liste des dons</a>
                </li>
                <li><a target="blank" href="https://www.aidedd.org/dnd-5/unearthed-arcana/">Unearthed-arcana</a>
                </li>
            </ul>
        </div>
    </div>
</div>